<header class="app-header">
  <div class="header-brand">
    <span class="brand-title">NOPE Lite</span>
    <span class="brand-subtitle">TAIG NOPE Portal</span>
  </div>
  <div class="header-meta">
    <span class="header-version">Operational Awareness</span>
    <span class="header-mode"><%= typeof executionMode !== 'undefined' ? executionMode : 'read' %></span>
  </div>
</header>
